@charset "utf-8";
/* CSS Document*/
body{
    background-color:#ffffff;
    margin:0px;
    padding:0px;
    position: relative;
    font-family: sans-serif;
}
 
ul{
    list-style:none;
}
 
a{
    text-decoration:none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
 
section{
    width:100%;
    height: 500vh;
    position: relative;
}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color:#FFFFFF;
    padding:0px 5%;
     
}
nav ul{
    display: flex;
}
  
nav ul li a{
    margin:30px;
    font-family:monospace;
    color:#8F8F8F;
    font-size: 15px;
    font-weight: 10;
}
 
.logo{
    font-family:RoadTest;
    color:#000000;
    font-size: 50px;
    font-weight: bold;
}
 
.active{
    color:#8F8F8F;
    font-weight:bold;
}
 
.text-container p:nth-child(1){
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 15px;
}
 
.text-container p:nth-child(2){
    font-family: calibri;
    color: #403e3e;
    font-size: 15px;
    margin-top: 10px;
    line-height: 25px;
    position:relative;
    margin-left: 15px;
}
 
.text-container p{
    line-height: 0px;
    margin: auto;
}
 
.text-container{
    position: absolute;
}

.boxes{
    width: 1000px;
    height:150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#f4f2f4;
    display: flex;
    flex-direction: column;
    margin: 20px 130px;
}
 
.text-container button{
    width: 130px;
    height: 35px;
    border-radius: 5px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 35px;
}
 
.hire-btn{
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    display:inline-block;
    line-height: 1.125rem;
    padding: 0.5rem 1 rem;
    margin-bottom: 6px;
    height: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
}
 
button:active{
    transform: scale(1.1);
}
 
footer p{
    font-family: calibri;
}
 
footer p:nth-child(1){
    font-size: 15px;
    font-weight:normal;
    color:#8F8F8F;
    line-height:10px;
}
 
footer p:nth-child(2){
    font-size: 15px;
    color:#8F8F8F;
    width:600px;
    text-align: center;
}
 
footer{
    height:60px;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    position: relative;
    background-color: #FFFFFF;
    font-size: 15px;
}

.md-flex{
    display: flex;
}

.flex-center{
    -webkit-box-align: center;
    align-items: center;
}

.mb4{
    margin-bottom: 4rem;
}

.flex-none{
    -webkit-box-flex: 0;
    flex:none;
}

.mr3{
    margin: 2rem;
}

.md-show{
    display: block!important;
}

img{
    max-width: 100%;
}

.flex-auto{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.prose h3{
    font-size:  32px;
    line-height: 1.5;
}

.semibold{
    font-weight: 600;
}

.serif{
    font-family: sans-serif;
}

.mb2{
    margin-bottom: 1rem;
}

.mt0{
    margin-top: 0;
}

.prose p{
    color:#38404F;
    font-size: 18px;
    line-height: 1.6;
}

.med-gray{
    color: #778298;
}

.btn{
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    display: table-cell;
    line-height: 1.125rem;
    margin:0;
    height: 35px;
    width: 145px;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
}

.semibold, .btn{
    font-weight: 600;
}

.btn-outline{
    border-radius: 3px;
}

.btn, .btn:hover{
    text-decoration: none;
}

.shadow, .btn-outline:hover{
    box-shadow: 0 0 1px 0 rgb(56 64 79 / 30%),
    0 1px 1px 0 rgb(9 24 54 / 24%),
    0 2px 5px 0 rgb(9 24 54 / 6%);
}

.border-none{
    border: none;
}

.mr1{
    margin-right: 0.5rem;
}

.m0{
    margin: 0;
}

.h5{
    font-size: 1.125rem;
}

.regular{
    font-weight: 400;
}

.text-container p:nth-child(1){
    font-family: monospace;
    color: #403e3e;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 15px;
}

.prose p{
    line-height: 2.6;
}

.text-container p{
    margin: auto;
}

.red{
    color:#DE3F1C;
}

.container{
    margin-left:auto;
    margin-right: auto;
}

.py4{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.mxn3{
    margin-left: -2rem;
    margin-right: -2rem;
}

.clearfix:after, .clearfix:before{
    content: " ";
    display: table;
}

.clearfix:after{
    clear: both;
}

.col-12{
    width: 100%;
}

.md-col-6{
    width: 50%;
}

.p3{
    padding: 2rem;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.bg-light-gray{
    background: #F3F4F6;
}

.rounded{
    border-radius: 3px;
}

.slate{
    color: #38404F;
}

form{
    display: block;
    margin-top: 0em;
}

.bg-green{
    background: #65D777;
}

.white{
    color: #FFFFFF;
}

.rounded-right{
    border-radius: 0 3px 3px 0;
}

.md-col-4{
    width: 33.33333%;
}